{% extends "base.html" %} {% block title %} Home - Guan {% endblock %} {% block
content %}

<!-- Hero Section -->
<section id="hero" class="py-5 text-center">
  <div class="container text-white">
    <h1 class="display-3 fw-bold glow-animation-white cursor-default">
      Welcome to Guan
    </h1>
    <p class="lead glow-animation-white cursor-default">
      Your one-stop shop for all things amazing
    </p>
  </div>
</section>

<!-- Kategori Section -->
<section id="kategori" class="py-5">
  <div class="container">
    <h2
      class="text-center mb-4 contact-title glow-animation-green cursor-default"
    >
      Product Category
    </h2>
    <div class="row">
      <div class="col-md-4 mb-4 animate-on-scroll">
        <div
          class="card box-shadow glow custom-cursor"
          style="background-color: #000000; margin: 15px"
        >
          <div class="img-container">
            <img
              src="https://i.pinimg.com/736x/11/21/b1/1121b11a47421b57e75c1c0ddd871929.jpg"
              class="card-img-top img-fluid"
              alt="Fashion"
            />
          </div>
          <div class="card-body text-white d-flex flex-column text-center">
            <h5 class="card-title" title="Kategori 1">Fashion</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 animate-on-scroll">
        <div
          class="card box-shadow glow custom-cursor"
          style="background-color: #000000; margin: 15px"
        >
          <div class="img-container">
            <img
              src="https://i.pinimg.com/736x/52/82/a7/5282a70b18b5f814b825d9170c2c7b35.jpg"
              class="card-img-top img-fluid"
              alt="Jewelry"
            />
          </div>
          <div class="card-body text-white d-flex flex-column text-center">
            <h5 class="card-title" title="Kategori 2">Jewelry</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 animate-on-scroll">
        <div
          class="card box-shadow glow custom-cursor"
          style="background-color: #000000; margin: 15px"
        >
          <div class="img-container">
            <img
              src="https://i.pinimg.com/736x/0a/6a/b2/0a6ab2179537ea3797337bbabc006f2b.jpg"
              class="card-img-top img-fluid"
              alt="Electronics"
            />
          </div>
          <div class="card-body text-white d-flex flex-column text-center">
            <h5 class="card-title" title="Kategori 3">Electronics</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Featured Products Section -->
<section id="featured-products" class="py-5">
  <div class="container">
    <h2
      class="text-center mb-4 contact-title glow-animation-green cursor-default"
    >
      Featured Products
    </h2>
    <div class="row">
      <div class="col-md-3 mb-4 animate-on-scroll">
        <div
          class="card box-shadow glow custom-cursor"
          style="background-color: #000000; margin: 15px"
        >
          <div class="img-container">
            <img
              src="https://assets2.razerzone.com/images/pnx.assets/2e5471e2ffe18edd8232bbcead4fa1a6/razer-blade-18-2024-hero-desktop.webp"
              class="card-img-top img-fluid"
              alt="Razer Blade 18"
            />
          </div>
          <div
            class="card-body text-white d-flex flex-column justify-content-between text-center"
          >
            <h5 class="card-title" title="Product 1">Razer Blade 18</h5>
            <p class="card-text">$3099,99</p>
            <a href="/product" class="btn btn-custom-gradient mt-3">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 animate-on-scroll">
        <div
          class="card box-shadow glow custom-cursor"
          style="background-color: #000000; margin: 15px"
        >
          <div class="img-container">
            <img
              src="https://i.pinimg.com/736x/d2/7d/f2/d27df2ff3f23d93532ae4cc1c246f077.jpg"
              class="card-img-top img-fluid"
              alt="Tendre Poison Dior"
            />
          </div>
          <div
            class="card-body text-white d-flex flex-column justify-content-between text-center"
          >
            <h5 class="card-title" title="Product 2">Tendre Poison Dior</h5>
            <p class="card-text">$278,00</p>
            <a href="/product" class="btn btn-custom-gradient mt-3">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 animate-on-scroll">
        <div
          class="card box-shadow glow custom-cursor"
          style="background-color: #000000; margin: 15px"
        >
          <div class="img-container">
            <img
              src="https://i.pinimg.com/736x/0a/a8/11/0aa8111aeabaa046770e578447fa25d7.jpg"
              class="card-img-top img-fluid"
              alt="Harry Winston Green Emerald Ring"
            />
          </div>
          <div
            class="card-body text-white d-flex flex-column justify-content-between text-center"
          >
            <h5 class="card-title" title="Product 3">
              Harry Winston Green Emerald Ring
            </h5>
            <p class="card-text">$130.000,00</p>
            <a href="/product" class="btn btn-custom-gradient mt-3">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 animate-on-scroll">
        <div
          class="card box-shadow glow custom-cursor"
          style="background-color: #000000; margin: 15px"
        >
          <div class="img-container">
            <img
              src="https://i.pinimg.com/474x/c9/d2/29/c9d22984a35e0b114f13d4d23d2d340b.jpg"
              class="card-img-top img-fluid"
              alt="Louis Vuitton - Green & White Varsity Leather Jacket"
            />
          </div>
          <div
            class="card-body text-white d-flex flex-column justify-content-between text-center"
          >
            <h5 class="card-title" title="Product 4">
              Louis Vuitton<br /><br />Green & White Varsity Leather Jacket
            </h5>
            <p class="card-text">$9.000,00</p>
            <a href="/product" class="btn btn-custom-gradient mt-3">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Custom CSS for glow effect, fixed image size, and gradient button -->
<style>
  .glow {
    transition: box-shadow 0.3s ease;
  }
  .glow:hover {
    box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.5); /* Green glow effect on hover */
  }
  .card {
    height: 100%;
  }
  .contact-title {
    font-weight: bold;
    color: #00ff00; /* Green color */
  }
  .btn-custom-gradient {
    background: linear-gradient(
      135deg,
      #00ff00,
      #ffffff,
      #000000
    ); /* Green to white to black gradient */
    color: black;
    border: none;
    display: block;
    margin: 0 auto; /* Center the button */
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Add margin to move the button up and center */
  }
  .btn-custom-gradient:hover {
    transform: translateY(-5px); /* Move up on hover */
    box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.8); /* Enhanced green glow effect on hover */
    color: white; /* Change text color to white on hover */
  }
  .btn-custom-gradient {
    position: relative;
    z-index: 1;
  }
  .btn-custom-gradient::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border-radius: 8px;
    background: rgba(0, 255, 0, 0.5);
    z-index: -1;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  .btn-custom-gradient:hover::before {
    opacity: 1;
  }
  .img-container {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Adjust the aspect ratio (1:1 for square images) */
    overflow: hidden;
  }
  .img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire area */
    transition: transform 0.3s ease; /* Animation effect */
  }
  .img-container:hover img {
    transform: scale(1.1); /* Scale up the image on hover */
  }
  .card-body h5 {
    font-size: 1rem; /* Adjust font size for card titles */
    font-weight: bold; /* Make the text bold */
  }
  .glow-on-hover-green {
    transition: text-shadow 0.3s ease, color 0.3s ease;
  }
  .glow-on-hover-green:hover {
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00; /* Green glow effect on hover */
  }
  .glow-animation-white {
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white; /* Initial white glow effect */
  }
  .glow-animation-green {
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00; /* Initial green glow effect */
  }
  .cursor-default {
    cursor: default; /* Ensure cursor does not change */
  }
</style>

<!-- GSAP and ScrollTrigger -->
<script src="https://cdn.jsdelivr.net/npm/gsap@3.9.1/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.9.1/dist/ScrollTrigger.min.js"></script>
<script>
  // Register ScrollTrigger plugin
  gsap.registerPlugin(ScrollTrigger);

  // Select all elements to animate
  const elementsToAnimate = document.querySelectorAll(".animate-on-scroll");

  // Apply animation to each element
  elementsToAnimate.forEach((element) => {
    gsap.fromTo(
      element,
      {
        y: 50, // Start position
        opacity: 0, // Start with opacity 0
      },
      {
        y: 0, // End position
        opacity: 1, // End with opacity 1
        duration: 1,
        scrollTrigger: {
          trigger: element,
          start: "top 80%", // When the top of the element is 80% from the top of the viewport
          end: "bottom 20%", // When the bottom of the element is 20% from the bottom of the viewport
          toggleActions: "play none none reverse", // Play the animation when scrolling into view and reverse when scrolling out
        },
      }
    );
  });

  // Add text animation to buttons
  const buttons = document.querySelectorAll(".btn-custom-gradient");
  buttons.forEach((button) => {
    gsap.fromTo(
      button,
      { opacity: 0, y: -10 },
      {
        opacity: 1,
        y: 0,
        duration: 1,
        ease: "power2.out",
        scrollTrigger: {
          trigger: button,
          start: "top 80%",
          end: "bottom 20%",
          toggleActions: "play none none reverse",
        },
      }
    );
  });

  // Add continuous glow animation for text
  const glowTextsWhite = document.querySelectorAll(".glow-animation-white");
  glowTextsWhite.forEach((text) => {
    gsap.to(text, {
      textShadow: "0 0 10px white, 0 0 20px white, 0 0 30px white", // White glow effect
      duration: 1.5,
      repeat: -1,
      yoyo: true, // Reverse the animation for a continuous effect
      ease: "power2.inOut",
    });
  });

  const glowTextsGreen = document.querySelectorAll(".glow-animation-green");
  glowTextsGreen.forEach((text) => {
    gsap.to(text, {
      textShadow: "0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00", // Green glow effect
      duration: 1.5,
      repeat: -1,
      yoyo: true, // Reverse the animation for a continuous effect
      ease: "power2.inOut",
    });
  });

  // Add hover animation for text with GSAP
  const hoverTexts = document.querySelectorAll(
    ".glow-on-hover-green, .glow-on-hover-white"
  );
  hoverTexts.forEach((text) => {
    text.addEventListener("mouseenter", () => {
      gsap.to(text, {
        textShadow:
          "0 0 10px currentColor, 0 0 20px currentColor, 0 0 30px currentColor",
        duration: 0.3,
        ease: "power2.out",
      });
    });
    text.addEventListener("mouseleave", () => {
      gsap.to(text, {
        textShadow: "0 0 0 currentColor",
        duration: 0.3,
        ease: "power2.out",
      });
    });
  });

  // Navbar animation
  gsap.from("#navbar", {
    y: -100,
    opacity: 0,
    duration: 1,
    ease: "power2.out",
  });

  // Footer animation
  gsap.from("#footer", {
    y: 100,
    opacity: 0,
    duration: 1,
    ease: "power2.out",
    scrollTrigger: {
      trigger: "#footer",
      start: "top bottom",
      toggleActions: "play none none none",
    },
  });
</script>

{% endblock %}
